#bannerimage3 {
  width: 100%;
  background-image: url("imgs/about.jpg");
  height: 120px;
  background-position: center;
}

p {
  text-align: left;
}

#concept-container {
  padding: 3rem;
}

#wrap-up {
  padding-bottom: 3rem;
}
.tagLine {
  color: #3B945E;
}